@page "/"
@using Microsoft.Extensions.Options;
@using SpotifyAPI.Web;
@inject NavigationManager NavManager
@inject IOptions<Spotifysettings> Configuration

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		var clientId = Configuration.Value.ClientId;
		if (clientId is null)
			throw new ArgumentNullException(nameof(clientId));

		var loginRequest = new LoginRequest(
				new Uri("https://localhost:7053/callback"),
				clientId,
				LoginRequest.ResponseType.Code
		)
			{
				Scope = new[] {
					Scopes.PlaylistReadPrivate,
					Scopes.PlaylistReadCollaborative,
					Scopes.PlaylistModifyPrivate,
					Scopes.PlaylistModifyPublic }
			};
		var uri = loginRequest.ToUri();
		NavManager.NavigateTo(uri.ToString(), true);
	}
}
